{% extends 'base.html' %}

{% block content %}
	
	<h2>VERSION 1.0.0</h2>
 	<hr>
 	<h2>CONTACT US</h2>
	<p class="td">For any queries regarding this website contact us on following:</p>
	<p class="td">Our Email ID:ritikachwla8092@gmail.com</p>
	<p class="td">LinkedIn handle: https://www.linkedin.com/authwall?trk=bf&trkInfo=AQGUzqUAIjgaUAAAAZQLXzsQ9uDnk1-Z4ErM8Ry_Fd2bGyiuC_qPGfSX8b3fdfJJjpQwpOgCStJI6uQEsgDdt5aLiJ1S1Xx8amkYYWckRggKbWdqOUKb4cxiQRbGWx3neGXQ5kI=&original_referer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fritika-chawla-450838251%3Futm_source%3Dshare%26utm_campaign%3Dshare_via%26utm_content%3Dprofile%26utm_medium%3Dandroid_app</p>
	<p class="td">Contact number:8269869989</p>
 	<hr>
	<p class="td">Thank you, For visiting our website</p>

{% endblock %}